flows.json
[{"id":"3fac4f44.74d3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"312adf41.a246e","type":"ui_form","z":"3fac4f44.74d3","name":"","label":"","group":"9d8e6a59.f402a8","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":" BMI","value":"h","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths ","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":40,"wires":[["23cdee3d.3107c2"]]},{"id":"23cdee3d.3107c2","type":"function","z":"3fac4f44.74d3","name":"Pre-Token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\n//following are required to receive a token\nvar apikey=\"eDFSsCbN3PZrAZ7KfxJTsU7fc-FSAUgN5B0EwxPgcSfH\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["5dc4cfae.9037a"]]},{"id":"13ab1603.84b0ea","type":"http request","z":"3fac4f44.74d3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a6a04a00-b597-46a7-98a5-78b10ab634f3/deployments/0c1e21f5-8d4f-45f4-b695-0ae9fe7fcf07/online","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":280,"wires":[["e77cd5c6.8a4638","17b9b230.c686ce"]]},{"id":"13fd8448.22cb0c","type":"debug","z":"3fac4f44.74d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":320,"wires":[]},{"id":"17b9b230.c686ce","type":"function","z":"3fac4f44.74d3","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["13fd8448.22cb0c","b6256c91.d2007"]]},{"id":"e77cd5c6.8a4638","type":"debug","z":"3fac4f44.74d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":180,"wires":[]},{"id":"cc65a879.7509e8","type":"function","z":"3fac4f44.74d3","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"a6a04a00-b597-46a7-98a5-78b10ab634f3\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Adult Mortality\",\"infant deaths\",\n\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\n\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\n\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\n\"Population\",\"thinness  1-19 years\",\"thinness 5-9 years\",\n\"Income composition of resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["13ab1603.84b0ea"]]},{"id":"5dc4cfae.9037a","type":"http request","z":"3fac4f44.74d3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":80,"wires":[["cc65a879.7509e8"]]},{"id":"b6256c91.d2007","type":"ui_text","z":"3fac4f44.74d3","group":"9d8e6a59.f402a8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":460,"wires":[]},{"id":"9d8e6a59.f402a8","type":"ui_group","z":"","name":"Machine Learning Model","tab":"ccd455e.d1959a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ccd455e.d1959a8","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]